HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/client/ext/

### EXTJS ###
client/.architect
client/bootstrap.css
client/bootstrap.js
client/bootstrap.json
client/bootstrap.jsonp
client/build/
client/classic.json
client/classic.jsonp
client/ext/
client/modern.json
client/modern.jsonp
client/resources/sass/.sass-cache/
client/resources/.arch-internal-preview.css
client/.arch-internal-preview.css
